@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-radius: 2px;
    }
}

/* Top Bar */
.search-bar {
    @apply w-full bg-dark-2 py-3 px-5 rounded-lg focus:outline-none text-light-1 text-small-semibold;
}
.create-post-btn {
    @apply flex items-center gap-2 rounded-lg py-2.5 px-3 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-light-1 text-small-semibold max-md:hidden;
}
.search-icon {
    @apply absolute top-2 right-2 text-light-1 cursor-pointer hover:text-pink-1;
}
